<!-- chatlist -->
<div class="chatlist">
    <div class="modal-dialog-scrollable">
        <div class="modal-content">
            <div class="chat-header">
                <div class="msg-search">
                    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Search" aria-label="search">
                    <a class="add" href="#"><img class="img-fluid" src="https://mehedihtml.com/chatbox/assets/img/add.svg" alt="add"></a>
                </div>


            </div>

            <div class="modal-body">
                <!-- chat-list -->
                <div class="chat-lists">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="Open" role="tabpanel" aria-labelledby="Open-tab">
                            <!-- chat-list -->
                            <div class="chat-list">
                                {% if personas %}
                                {% for persona in personas %}
                                <a href="{% url 'persona_detail' persona.id %}" class="d-flex align-items-center">
                                    <div class="flex-shrink-0">
                                        <img class="img-fluid" src="https://mehedihtml.com/chatbox/assets/img/user.png" alt="user img">
                                        <span class="active"></span>
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <h3>{{ persona.name }}</h3>
                                        <p>front end developer</p>
                                    </div>
                                </a>
                                  {% endfor %}


                
                                    {% else %}
                                        <p>No personas created yet.</p>
                                    {% endif %}


                            </div>
                            <!-- chat-list -->
                        </div>

                    </div>

                </div>
                <!-- chat-list -->
            </div>
        </div>
    </div>
</div>
<!-- chatlist -->

