{% extends '_app_base.html' %}
{% block content %}
<div class="chat-header clearfix">
    <div class="row">
        <div class="col-lg-6">
            <a href="javascript:void(0);" data-toggle="modal" data-target="#view_info">
                <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="avatar">
            </a>
            <div class="chat-about">
                <h5 class="m-b-0">Create new persona</h5>
            </div>
        </div>
        
    </div>
</div>

<div class="col-12 p-4">
    {% load crispy_forms_tags %}

    <form method="post">
        {% csrf_token %}
         {{ form|crispy }}
        <button class="btn btn-primary" type="submit">Create persona</button>
    </form>
</div>
{% endblock %}
