{% extends '_app_base.html' %}
{% load static %}
{% block title %}{{ persona.name }}{% endblock title %}

{% block content %}

<div class="sticky top-0 inset-x-0 z-20 bg-white border-b px-4 sm:px-6 md:px-8 dark:bg-gray-800 dark:border-gray-700 lg:ps-72">
	<div class="flex items-center py-4">
		<!-- Breadcrumb -->
		<div class="flex-shrink-0 group block">
			<div class="flex items-center">
				<img class="inline-block flex-shrink-0 h-[2.875rem] w-[2.875rem] rounded-full" src="
					{% if persona.profile_picture %}
						{{ persona.profile_picture.url }}
					{% else %}
						{% static 'assets/img/avatars/default-robot.png' %}
					{% endif %}" alt="{{ persona.name }}" alt="{{ persona.name }}
				"/>

				<div class="ms-3">
					<h3 class="font-semibold text-gray-800 dark:text-white text-lg">{{ persona.name }}</h3>
				</div>
			</div>
		</div>

		<div class="ms-3 w-full flex items-center justify-end ms-auto">
			<div class="flex flex-row items-center justify-end gap-2">
				<a class="inline-flex items-center justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50" href="{% url 'persona_profile' persona.unique_hash %}">
					View profile
				</a>
				<a class="inline-flex items-center justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50" href="{% url 'edit_persona' persona.unique_hash %}">
					Edit persona
				</a>
			</div>
		</div>
	</div>
</div>
<!-- End Sidebar Toggle -->

<div class="flex items-center">										
</div>

<!-- Content -->
<div id="content">
	<div class="w-full sm:px-6 md:px-8 lg:ps-72">
		<div class="relative h-screen">

			<!-- Chat messages -->
			<div id="chat-messages" class="max-w-4xl px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
				
				<ul class="space-y-5">
					{% for message in chat_messages %}
						<!-- User chat bubble -->
						<li class="flex gap-x-2 sm:gap-x-4">
							<img class="inline-block h-[2.875rem] w-[2.875rem] rounded-full" src="{% static 'assets/img/avatars/default-user.png' %}">
							<div class="bg-white border border-gray-200 rounded-lg p-4 space-y-3 dark:bg-slate-900 dark:border-gray-700">
								<p class="text-sm">{{ message.user_message }}</p>
							</div>
						</li><!-- End Chat Bubble -->

						<!-- AI chat bubble -->
						<li class="max-w-2xl ms-auto flex justify-end gap-x-2 sm:gap-x-4">
							<div class="grow text-end space-y-3">
								<div class="inline-block bg-blue-600 rounded-lg p-4 shadow-sm">
									<p class="text-sm text-white">
										{{ message.chatgpt_response }}
									</p>
								</div>
								<!-- End Card -->
							</div>
							<img class="inline-block h-[2.875rem] w-[2.875rem] rounded-full" src="
								{% if persona.profile_picture %}
									{{ persona.profile_picture.url }}
								{% else %}
									{% static 'assets/img/avatars/default-robot.png' %}
								{% endif %}" alt="">
						</li><!-- /AI chat Bubble -->

					{% empty %}
						<li>No messages yet, start the conversation!</li>
					{% endfor %}
				</ul>
			</div><!--/Chat messages -->

			<!-- Chat box -->
			<footer class="max-w-4xl mx-auto sticky bottom-0 z-10 bg-white border-t border-gray-200 pt-2 pb-4 sm:pt-4 sm:pb-6 px-4 sm:px-6 lg:px-0 dark:bg-slate-900 dark:border-gray-700">
				<form id="chat-form" hx-post="{% url 'send_message' persona_hash=persona.unique_hash %}" hx-target="#ai-response" hx-swap="outerHTML">
					{% csrf_token %}
					<div class="flex justify-between items-center mb-3">	
					</div>

					<!-- Input -->
					<div class="relative">
						<textarea  id="user-message"  class="p-4 pb-12 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600" placeholder="Ask me anything..." name="user_message">
						</textarea>

						<!-- Toolbar -->
						<div class="absolute bottom-px inset-x-px p-2 rounded-b-md bg-white dark:bg-slate-900">
							<div class="flex justify-between items-center">
								<!-- Button Group -->
								<div class="flex items-center">
									<!-- Mic Button -->
									<!--<button type="button" class="inline-flex flex-shrink-0 justify-center items-center h-8 w-8 rounded-lg text-gray-500 hover:text-blue-600 focus:z-10 focus:outline-none focus:ring-2 focus:ring-blue-500 dark:hover:text-blue-500 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
										<svg class="flex-shrink-0 h-4 w-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect width="18" height="18" x="3" y="3" rx="2"/><line x1="9" x2="15" y1="15" y2="9"/></svg>
									</button>-->
									<!--/Mic Button -->

									<!-- Attach Button -->
									<button type="button" class="inline-flex flex-shrink-0 justify-center items-center h-8 w-8 rounded-lg text-gray-500 hover:text-blue-600 focus:z-10 focus:outline-none focus:ring-2 focus:ring-blue-500 dark:hover:text-blue-500 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
										<svg class="flex-shrink-0 h-4 w-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m21.44 11.05-9.19 9.19a6 6 0 0 1-8.49-8.49l8.57-8.57A4 4 0 1 1 18 8.84l-8.59 8.57a2 2 0 0 1-2.83-2.83l8.49-8.48"/></svg>
									</button>
									<!-- End Attach Button -->
								</div>
								<!--/Button Group -->

								<!-- Button Group -->
								<div class="flex items-center gap-x-1">
									<!-- Mic Button -->
									<!--<button type="button" class="inline-flex flex-shrink-0 justify-center items-center h-8 w-8 rounded-lg text-gray-500 hover:text-blue-600 focus:z-10 focus:outline-none focus:ring-2 focus:ring-blue-500 dark:hover:text-blue-500 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
										<svg class="flex-shrink-0 h-4 w-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M12 2a3 3 0 0 0-3 3v7a3 3 0 0 0 6 0V5a3 3 0 0 0-3-3Z"/><path d="M19 10v2a7 7 0 0 1-14 0v-2"/><line x1="12" x2="12" y1="19" y2="22"/></svg>
									</button>-->
									<!--/Mic Button -->

									<!-- Send Button -->
									<button type="submit" class="inline-flex flex-shrink-0 justify-center items-center h-8 w-8 rounded-lg text-white bg-blue-600 hover:bg-blue-500 focus:z-10 focus:outline-none focus:ring-2 focus:ring-blue-500 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
										<svg class="flex-shrink-0 h-3.5 w-3.5" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
											<path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083l6-15Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z"/>
										</svg>
									</button><!--/Send Button -->
								</div><!--/Button Group -->
							</div>
						</div><!--/Toolbar -->
					</div><!--/Input -->
				</form><!--/Chat form -->
			</footer><!--/Chat box -->
		</div>
	</div>
</div><!--/Content-->
<script>
    function scrollToBottom() {
        window.scrollTo(0, document.body.scrollHeight);
    }

    document.addEventListener('DOMContentLoaded', (event) => {
        scrollToBottom(); // Scroll on page load
    });

    document.getElementById('chat-form').addEventListener('submit', function(event) {
        var userMessageInput = document.getElementById('user-message');
        var userMessageText = userMessageInput.value.trim();

        if (userMessageText === '') {
            event.preventDefault(); // Prevent empty message submission
            return;
        }



        // Append User Message
        var userMessageHtml = `

            <li class="flex gap-x-2 sm:gap-x-4 space-y-5">
                <img class="inline-block h-[2.875rem] w-[2.875rem] rounded-full" src="{% static 'assets/img/avatars/default-user.png' %}">
                <div class="bg-white border border-gray-200 rounded-lg p-4 space-y-3 dark:bg-slate-900 dark:border-gray-700">
                    <p class="text-sm">${userMessageText}</p>
                </div>
            </li>
			`;
			document.getElementById('chat-messages').insertAdjacentHTML('beforeend', userMessageHtml);
			scrollToBottom();

        // Append AI Loading Bubble
        var aiLoadingHtml = `
		<li id="ai-response" class="max-w-2xl ms-auto flex justify-end gap-x-2 sm:gap-x-4 space-y-5">
			<div class="inline-block bg-blue-600 rounded-lg p-4 shadow-sm">
				<div class="loader">Loading...</div>
			</div>
			<img class="inline-block h-[2.875rem] w-[2.875rem] rounded-full" src="{% if persona.profile_picture %}{{ persona.profile_picture.url }}{% else %}{% static 'assets/img/avatars/default-robot.png' %}{% endif %}" alt="">

		</li>
			`;
			document.getElementById('chat-messages').insertAdjacentHTML('beforeend', aiLoadingHtml);
	

		});
	
		document.body.addEventListener('htmx:afterRequest', function(event) {
			if (event.target.id === 'chat-form') {
				document.getElementById('user-message').value = ''; // Clear the textarea
				scrollToBottom();
			}

    });
</script>

{% endblock %}
