{% extends '_app_base.html' %}
{% load static %}
{% block content %}
{% include 'app/profile-header.html' %}
   
                        
    <div class="chat-body hide-scrollbar flex-1 h-100">
        <div class="chat-body-inner h-100">
            <div class="py-6 py-lg-8">





                        <div class="row gy-6">
                            

                            <div class="col-12 text-center mb-10">
                        
                    <div class="avatar avatar-xxl mx-auto">
                                    <span class="avatar-text">
                                        <img src="
                                        {% if persona.profile_picture %}
                                            {{ persona.profile_picture.url }}
                                        {% else %}
                                            {% static 'assets/img/avatars/default-robot.png' %}
                                        {% endif %}
                                        " alt="#" class="avatar-img">
                                    </span>

                                    

                                
                                </div>
                                <h1>{{ persona.name }}</h1>
                                <p>{{ persona.gender }}, {{ persona.age }} years old.</p>
                                

                        </div>
                    </div>
                    <div class="row mb-8">
                        <div class="col-12 col-md-6">
                            <div class="card border-0 mb-5 bg-light h-100">
                                <div class="card-body">
                                <p><strong>Biography</strong></p>
                                <p>{{ persona.bio }}</p>
                            </div>
                            </div>
                        </div>

                            <div class="col-12 col-md-6">
                                <div class="card border-0 mb-5 bg-light h-100">
                                <div class="card-body">
                                <p><strong>Needs</strong></p>
                                <p>{{ persona.needs }}</p>
                            </div>
                            </div>
                                                        </div>
                                                    </div>

                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="card border-0 mb-5 bg-light h-100">
                                <div class="card-body">
                                <p><strong>Frustrations</strong></p>
                                <p>{{ persona.frustrations }}</p>
                                                            </div>
                            </div></div>

                                <div class="col-12 col-md-6">
                                    <div class="card border-0 mb-5 bg-light h-100">
                                <div class="card-body">
                                <p><strong>Goals</strong></p>
                                <p>{{ persona.goals }}</p>
                            </div>
                            </div>
                            </div>
  </div>
        </div>     
    </div>
</div>
                        <!--/ Chat: Content -->

   

{% endblock %}
