{% load static %}	
<!-- Page Header -->
<div class="chat-header border-bottom py-4 py-lg-6">
	<div class="row align-items-center">

		<!-- Mobile: close -->
		<div class="col-2 d-xl-none">
			<a class="icon icon-lg text-muted" href="#" data-toggle-chat="">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left"><polyline points="15 18 9 12 15 6"></polyline></svg>
			</a>
		</div>
		<!-- /Mobile: close -->

		<!-- Content -->
		<div class="col-8 col-xl-12">
			<div class="row align-items-center text-center text-xl-start">
				<!-- Title -->
				<div class="col-12 col-xl-6">
					<div class="row align-items-center gx-5">
						
						<div class="col overflow-hidden">
							<h1 class="mb-0 fs-3">View profile</h1>
						</div>
					</div>
				</div>
				<!-- Title -->

				<!-- Toolbar -->
				<div class="col-xl-6 d-none d-xl-block">
					<div class="row align-items-center justify-content-end gx-6">
						<div class="col-auto">
							                                                <div class="dropdown">
                                                    <a class="icon text-muted" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical"><circle cx="12" cy="12" r="1"></circle><circle cx="12" cy="5" r="1"></circle><circle cx="12" cy="19" r="1"></circle></svg>
                                                    </a>

                                                    <ul class="dropdown-menu">
                                      
                                                        <li><a class="dropdown-item" href="{% url 'edit_persona' persona.unique_hash %}">Edit persona</a>
                                                        </li>
                                                        <li>
                                                            <hr class="dropdown-divider">
                                                        </li>
                                                        <li>
                                                            <form action="{% url 'delete_persona' persona.unique_hash %}" method="post">
                                                                {% csrf_token %}
                                                                <input type="submit" value="Delete persona" class="dropdown-item text-danger" onclick="return confirm('Are you sure you want to delete this persona?');">
                                                            </form>
                                                            
                                                        </li>
                                                    </ul>
                                                </div><!-- /Dropdown-->
						</div>

						<div class="col-auto">
							
						</div>
					</div>
				</div>
				<!-- /Toolbar -->
			</div>
		</div>
		<!-- /Content -->

		<!-- Mobile: more -->
		<div class="col-2 d-xl-none text-end">
			                                                <div class="dropdown">
                                                    <a class="icon text-muted" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical"><circle cx="12" cy="12" r="1"></circle><circle cx="12" cy="5" r="1"></circle><circle cx="12" cy="19" r="1"></circle></svg>
                                                    </a>

                                                    <ul class="dropdown-menu">
                                   
                                                        <li><a class="dropdown-item" href="{% url 'edit_persona' persona.unique_hash %}">Edit persona</a>
                                                        </li>
                                                        <li>
                                                            <hr class="dropdown-divider">
                                                        </li>
                                                        <li>
                                                            <form action="{% url 'delete_persona' persona.unique_hash %}" method="post">
                                                                {% csrf_token %}
                                                                <input type="submit" value="Delete persona" class="dropdown-item text-danger" onclick="return confirm('Are you sure you want to delete this persona?');">
                                                            </form>
                                                            
                                                        </li>
                                                    </ul>
                                                </div><!-- /Dropdown-->
		</div>
		<!-- /Mobile: more -->

	</div>
</div>
<!-- /Page Header -->