{% load static %}
<aside class="sidebar bg-light">
    <div class="tab-content h-100" role="tablist">

        <!-- Personas -->
        <div class="tab-pane fade h-100  show active" id="tab-content-friends" role="tabpanel">
            <div class="d-flex flex-column h-100">
                <div class="hide-scrollbar">
                    <div class="container py-8">

                        <!-- Title -->
                        <div class="mb-8">
                            <h2 class="fs-3 fw-bold m-0">Personas</h2>
                        </div>


                        <!-- List -->
                        <div class="card-list">

                            {% if personas %}
                            {% for persona in personas %}
                                        <!-- Card -->
                                <div class="card border-0">
                                    <div class="card-body">

                                        <div class="row align-items-center gx-5">
                                            <div class="col-auto">
                                                <a href="{% url 'persona_detail' persona.unique_hash %}" class="avatar ">
                                                    
                                                    {% if persona.profile_picture %}
                                                        <img  class="avatar-img" src="{{ persona.profile_picture.url }}" alt="{{ persona.name }}">
                                                    {% else %}
                                                        <img class="avatar-img" src="{% static 'assets/img/avatars/default-robot.png' %}" alt="">
                                                    {% endif %} 
                                                    
                                                </a>
                                            </div>

                                            <div class="col">
                                                <h4><a href="{% url 'persona_detail' persona.unique_hash %}">{{ persona.name }}</a></h4>
                                            </div>

                                            <div class="col-auto">
                                                <!-- Dropdown -->
                                                <div class="dropdown">
                                                    <a class="icon text-muted" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical"><circle cx="12" cy="12" r="1"></circle><circle cx="12" cy="5" r="1"></circle><circle cx="12" cy="19" r="1"></circle></svg>
                                                    </a>

                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" href="{% url 'persona_profile' persona.unique_hash %}">View profile</a>
                                                        </li>
                                                        <li><a class="dropdown-item" href="{% url 'edit_persona' persona.unique_hash %}">Edit persona</a>
                                                        </li>
                                                        <li>
                                                            <hr class="dropdown-divider">
                                                        </li>
                                                        <li>
                                                            <form action="{% url 'delete_persona' persona.unique_hash %}" method="post">
                                                                {% csrf_token %}
                                                                <input type="submit" value="Delete persona" class="dropdown-item text-danger" onclick="return confirm('Are you sure you want to delete this persona?');">
                                                            </form>
                                                            
                                                        </li>
                                                    </ul>
                                                </div><!-- /Dropdown-->
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            {% endfor %}

                            {% else %}
                                <p>No personas created yet.</p>
                            {% endif %}
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- /Personas -->

        <!-- Settings -->
        <div class="tab-pane fade h-100" id="tab-content-settings" role="tabpanel">
            <div class="d-flex flex-column h-100">
                <div class="hide-scrollbar">
                    <div class="container py-8">

                        <!-- Title -->
                        <div class="mb-8">
                            <h2 class="fw-bold m-0">Settings</h2>
                        </div>

                    

                        <!-- Profile -->
                        <div class="card border-0">
                            <div class="card-body">
                                <div class="row align-items-center gx-5">
                                    <div class="col-auto">
                                        <div class="avatar">
                                            <img src="{% static 'assets/img/avatars/default-user.png' %}" alt="#" class="avatar-img">

                                            <div class="badge badge-circle bg-secondary border-outline position-absolute bottom-0 end-0">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-image"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><circle cx="8.5" cy="8.5" r="1.5"></circle><polyline points="21 15 16 10 5 21"></polyline></svg>
                                            </div>
                                            <input id="upload-profile-photo" class="d-none" type="file">
                                            <label class="stretched-label mb-0" for="upload-profile-photo"></label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <h5>William Pearson</h5>
                                        <p>{{ user.email }}</p>
                                    </div>
                                    <div class="col-auto">
                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Profile -->

                        <!-- Account -->
                        <div class="mt-8">
                            <div class="d-flex align-items-center mb-4 px-6">
                                <small class="text-muted me-auto">Account</small>
                            </div>

                            <div class="card border-0">
                                <div class="card-body py-2">
                                    <!-- Accordion -->
                                    <div class="accordion accordion-flush" id="accordion-profile">
                                        <div class="accordion-item">
                                            <div class="accordion-header" id="accordion-profile-1">
                                                <a href="#" class="accordion-button text-reset collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-profile-body-1" aria-expanded="false" aria-controls="accordion-profile-body-1">
                                                    <div>
                                                        <h5>Profile settings</h5>
                                                        <p>Change your profile settings</p>
                                                    </div>
                                                </a>
                                            </div>

                                            <div id="accordion-profile-body-1" class="accordion-collapse collapse" aria-labelledby="accordion-profile-1" data-parent="#accordion-profile">
                                                <div class="accordion-body">
                                                    <div class="form-floating mb-6">
                                                        <input type="text" class="form-control" id="profile-name" placeholder="Name">
                                                        <label for="profile-name">Name</label>
                                                    </div>

                                                    <div class="form-floating mb-6">
                                                        <input type="email" class="form-control" id="profile-email" placeholder="Email address">
                                                        <label for="profile-email">Email</label>
                                                    </div>

                                                    <div class="form-floating mb-6">
                                                        <input type="text" class="form-control" id="profile-phone" placeholder="Phone">
                                                        <label for="profile-phone">Phone</label>
                                                    </div>

                                                    <div class="form-floating mb-6">
                                                        <textarea class="form-control" placeholder="Bio" id="profile-bio" data-autosize="true" style="min-height: 120px;"></textarea>
                                                        <label for="profile-bio">Bio</label>
                                                    </div>

                                                    <button type="button" class="btn btn-block btn-lg btn-primary w-100">Save</button>
                                                </div>
                                            </div>
                                        </div>



                                        <!-- Switch -->
                                        <div class="accordion-item">
                                            <div class="accordion-header">
                                                <div class="row align-items-center">
                                                    <div class="col">
                                                        <h5>Appearance</h5>
                                                        <p>Choose light or dark theme</p>
                                                    </div>
                                                    <div class="col-auto">
                                                        <a class="switcher-btn text-reset" href="#!" title="Themes">
                                                            <div class="switcher-icon switcher-icon-dark icon icon-lg d-none" data-theme-mode="dark">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-moon"><path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path></svg>
                                                            </div>
                                                            <div class="switcher-icon switcher-icon-light icon icon-lg d-none" data-theme-mode="light">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-sun"><circle cx="12" cy="12" r="5"></circle><line x1="12" y1="1" x2="12" y2="3"></line><line x1="12" y1="21" x2="12" y2="23"></line><line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line><line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line><line x1="1" y1="12" x2="3" y2="12"></line><line x1="21" y1="12" x2="23" y2="12"></line><line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line><line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line></svg>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Account -->

                        <!-- Security -->
                        <div class="mt-8">
                            <div class="d-flex align-items-center my-4 px-6">
                                <small class="text-muted me-auto">Security</small>
                            </div>

                            <div class="card border-0">
                                <div class="card-body py-2">
                                    <!-- Accordion -->
                                    <div class="accordion accordion-flush" id="accordion-security">
                                        <div class="accordion-item">
                                            <div class="accordion-header" id="accordion-security-1">
                                                <a href="#" class="accordion-button text-reset collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-security-body-1" aria-expanded="false" aria-controls="accordion-security-body-1">
                                                    <div>
                                                        <h5>Password</h5>
                                                        <p>Change your password</p>
                                                    </div>
                                                </a>
                                            </div>

                                            <div id="accordion-security-body-1" class="accordion-collapse collapse" aria-labelledby="accordion-security-1" data-parent="#accordion-security">
                                                <div class="accordion-body">
                                                    <form action="#" autocomplete="on">
                                                        <div class="form-floating mb-6">
                                                            <input type="password" class="form-control" id="profile-current-password" placeholder="Current Password" autocomplete="">
                                                            <label for="profile-current-password">Current Password</label>
                                                        </div>

                                                        <div class="form-floating mb-6">
                                                            <input type="password" class="form-control" id="profile-new-password" placeholder="New password" autocomplete="">
                                                            <label for="profile-new-password">New password</label>
                                                        </div>

                                                        <div class="form-floating mb-6">
                                                            <input type="password" class="form-control" id="profile-verify-password" placeholder="Verify Password" autocomplete="">
                                                            <label for="profile-verify-password">Verify Password</label>
                                                        </div>
                                                    </form>
                                                    <button type="button" class="btn btn-block btn-lg btn-primary w-100">Save</button>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Switch -->
                                      
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Security -->

                        



                    </div>
                </div>
            </div>
        </div>
        <!-- /Settings -->

    </div>
</aside>