//
// Use this to overwrite Bootstrap and theme variables
//

// Example:
// $line-clamp: 1;

$body-color:                #293951;
$input-bg:                  #fff;
$input-border-color:        #cbd5e1;
$input-border-width:        1px;


