//
// Use this to write your custom SCSS
//

$font-family-sans-serif:      system-ui, -apple-system, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$headings-font-family: "Hanken Grotesk", sans-serif;
// Typography
$h1-font-size: 2rem !default;
$h2-font-size: 1.5rem !default;
$h3-font-size: 1.25rem !default;
$h4-font-size: 1rem !default;
$h5-font-size: 0.875rem !default;
$h6-font-size: 0.75rem !default;

// scss-docs-start font-sizes
$font-sizes: (
  1: 3rem,
  2: 2.5rem,
  3: 1.25rem,
  4: 1rem,
  5: 0.875rem,
  6: 0.75rem
) !default;

// scss-docs-start headings-variables
$headings-font-weight: 600 !default;
$headings-line-height: 1.5 !default;

// scss-docs-start display-headings
$display-font-sizes: (
  1: 4.5rem,
  2: 3.5rem,
  3: 3rem,
  4: 2.5rem,
  5: 2rem,
  6: 1.5rem
) !default;

$display-font-weight: 600 !default;
$display-line-height: 1.2 !default;
// scss-docs-end display-headings

$border-radius:               .4rem !default;
$border-radius-sm:            .2rem !default;
$border-radius-lg:            .6rem !default;
$border-width:                1px !default;

.card {
  border: 0rem;
  box-shadow: 0 .125rem .25rem rgba(#000, .075);
}
