{% extends '_base.html' %}
{% load static %}

{% block title %}UserTulpa{% endblock title %}

{% block content %}
<header class="masthead">
            
  <div class="row gx-5 align-items-center">
      <div class="col-lg-8">
          <!-- Mashead text and app badges-->
          <div class="mb-5 mb-lg-0 text-center text-lg-start">
              <h1 class="display-1 lh-1 mb-3 text-xl">Bring your personas to life.</h1>
              <p class="lead fw-normal text-muted mb-5">Interactive, real-time conversations with your UX personas.</p>
              <div class="d-flex flex-column flex-lg-row align-items-center">
              </div>
          </div>
      </div>
      <div class="col-lg-4">
          <!-- Masthead device mockup feature-->
          <div class="masthead-device-mockup">
            
              <div class="device-wrapper">
                  <div class="device" data-device="iPhoneX" data-orientation="portrait" data-color="black">
                      <div class="screen bg-black">
                          <!-- PUT CONTENTS HERE:-->
                          <!-- * * This can be a video, image, or just about anything else.-->
                          <!-- * * Set the max width of your media to 100% and the height to-->
                          <!-- * * 100% like the demo example below.-->
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="row gx-5">
    <div class="col-md-4">
      <h4>Immersive interaction</h4>
        <p>Engage in real-time dialogues with your personas. Ask questions, receive feedback, and explore their preferences and behaviors in a simulated, yet realistic environment.</p>
    </div>
    <div class="col-md-4">
      <h4>Customisable personas</h4>
      <p>Tailor each persona to match your specific user demographics. Adjust age, background, interests, and more to accurately reflect your target audience.</p>
    </div>
        <div class="col-md-4">
          <h4>AI-powered insights</h4> 
          <p>Utilize advanced AI technology to gain nuanced insights. Understand the motivations, needs, and pain points of your personas, empowering you to design more user-centric products.</p>
    </div>
  </div>
     
</header>
{% endblock content %}
