{% load static %}
{% include '_head.html' %}

<body class="dark:bg-slate-900 dark:text-slate-200">

	<!-- ========== MAIN CONTENT ========== -->

	<!-- Sidebar Toggle -->

	<div class="sticky top-0 inset-x-0 z-20 bg-white border-y px-4 sm:px-6 md:px-8 lg:hidden dark:bg-gray-800 dark:border-gray-700">
		<div class="flex items-center py-4">
		<!-- Navigation Toggle -->
		<button type="button" class="text-gray-500 hover:text-gray-600" data-hs-overlay="#application-sidebar" aria-controls="application-sidebar" aria-label="Toggle navigation">
			<span class="sr-only">Toggle Navigation</span>
			<svg class="flex-shrink-0 w-4 h-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="3" x2="21" y1="6" y2="6"/><line x1="3" x2="21" y1="12" y2="12"/><line x1="3" x2="21" y1="18" y2="18"/></svg>
		</button>
		<!-- End Navigation Toggle -->

		<!-- Breadcrumb -->
		<div class="flex-shrink-0 group block">         
		</div>
		<div class="ms-3 w-full flex items-center justify-end ms-auto">
			<div class="flex flex-row items-center justify-end gap-2">
			</div>
		</div><!-- /Breadcrumb -->
		</div>
	</div>
	<!-- End Sidebar Toggle -->
	<div class="flex items-center">                    
	</div>


	<div id="application-sidebar" class="hs-overlay hs-overlay-open:translate-x-0 -translate-x-full duration-300 transform hidden fixed top-0 start-0 bottom-0 z-[60] w-64 bg-white border-e border-gray-200 overflow-y-auto lg:block lg:translate-x-0 lg:end-auto lg:bottom-0 [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:bg-gray-300 dark:[&::-webkit-scrollbar-track]:bg-slate-700 dark:[&::-webkit-scrollbar-thumb]:bg-slate-500 dark:bg-slate-900 dark:border-gray-700">
		<nav class="hs-accordion-group w-full h-full flex flex-col" data-hs-accordion-always-open>
			<div class="flex items-center justify-between pt-4 pe-4 ps-4">
				<!-- Logo -->
				<a class="flex-none text-xl font-semibold dark:text-white dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" href="/" aria-label="Brand">UX Kit</a>
				<!-- End Logo -->
			</div>

			<div class="h-full">
				<!-- Project list -->
				<ul class="space-y-1 p-4">
					<li><h5 class="mb-3 text-sm font-semibold text-slate-900 dark:text-slate-200">Projects</h5></li>
		
					{% if projects %}
						{% for project in projects %}
							<li>
								<a class="w-full flex items-center gap-x-3.5 py-2 px-2.5 text-sm text-slate-700 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-900 dark:text-slate-400 dark:hover:text-slate-300 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" href="{% url 'project_read' project.unique_hash %}">
									{{ project.name }}
								</a>
							</li>
						{% endfor %}
					{% else %}
						<li>No projects created yet.</li>
					{% endif %}

					<li>
						<a class="flex items-center gap-x-3 py-2 px-3 text-sm text-slate-700 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-900 dark:text-slate-400 dark:hover:text-slate-300 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" href="{% url 'project_create' %}">
							<svg class="flex-shrink-0 w-4 h-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h14"/><path d="M12 5v14"/></svg>
							New project
						</a>
					</li>
				</ul><!-- / Project list -->
				
				<!-- Persona list -->
				<ul class="space-y-1 p-4">
					<li><h5 class="mb-3 text-sm font-semibold text-slate-900 dark:text-slate-200">Personas</h5></li>

					{% if personas %}
						{% for persona in personas %}
							<li>
								<a class="w-full flex items-center gap-x-3.5 py-2 px-2.5 text-sm text-slate-700 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-900 dark:text-slate-400 dark:hover:text-slate-300 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" href="{% url 'persona_detail' persona.unique_hash %}">
									<img class="inline-block h-8 w-8 rounded-full" src="
										{% if persona.profile_picture %}
											{{ persona.profile_picture.url }}
										{% else %}
											{% static 'assets/img/avatars/default-robot.png' %}
										{% endif %}" alt="{{ persona.name }}
									">
									{{ persona.name }}
								</a>
								<a href="{% url 'persona_detail' persona.unique_hash %}" 
								hx-get="{% url 'persona_detail' persona.unique_hash %}" 
								hx-target="#content"
								hx-swap="outerHTML">
									{{persona.name }}
								</a>
							</li>
						{% endfor %}

					{% else %}
						<li>No personas created yet.</li>
					{% endif %}
					
					<li>
						<a class="flex items-center gap-x-3 py-2 px-3 text-sm text-slate-700 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-900 dark:text-slate-400 dark:hover:text-slate-300 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" href="{% url 'create_persona' %}">
							<svg class="flex-shrink-0 w-4 h-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h14"/><path d="M12 5v14"/></svg>
							New persona
						</a>
					</li>
				</ul><!-- End List -->
			</div><!--/sidebar menus-->

			<!-- Sidebar Footer -->
			<div class="mt-auto">
				<div class="p-4 border-t border-gray-200 dark:border-gray-700">
					<div class="hs-dropdown relative inline-flex">
						<button id="hs-dropdown-custom-trigger" type="button" class="hs-dropdown-toggle py-1 ps-1 pe-3 inline-flex items-center gap-x-2 text-sm font-semibold rounded-full  bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-white dark:hover:bg-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
							<img class="w-8 h-auto rounded-full" src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80" alt="Maria">
							<span class="text-gray-600 font-medium truncate max-w-[7.5rem] dark:text-gray-400">{{ user.username }}</span>
							<svg class="hs-dropdown-open:rotate-180 w-4 h-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>
						</button>

						<div class="hs-dropdown-menu transition-[opacity,margin] duration hs-dropdown-open:opacity-100 opacity-0 hidden min-w-[15rem] bg-white shadow-md rounded-lg p-2 mt-2 dark:bg-gray-800 dark:border dark:border-gray-700" aria-labelledby="hs-dropdown-custom-trigger">
			
							<a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-300 dark:focus:bg-gray-700" href="{% url 'account_change_password' %}">
								Change password
							</a>
							<a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-300 dark:focus:bg-gray-700" href="{% url 'account_logout' %}">
								Log out
							</a>
						</div>
					</div>
				</div>
			</div><!--/Sidebar footer -->	
		</nav>
	</div><!--/Sidebar -->

	<!-- Content -->
	{% block content %}	  
		<p>Default content...</p>
	{% endblock content %} 

	{% block javascript %}
		<script src="https://unpkg.com/htmx.org"></script>
		<script src="{% static 'assets/js/app.js' %}"></script>
		<script>
			document.addEventListener('DOMContentLoaded', function () {
				var links = document.querySelectorAll('#application-sidebar ul li a');
				var currentUrl = window.location.href;

				links.forEach(function (link) {
					if (link.href === currentUrl) {
						link.classList.add('bg-gray-100');
					}
				});
			});
		</script>
		<script>
		document.body.addEventListener('htmx:configRequest', (event) => {
			event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}'; 
		})
		</script>
	{% endblock javascript %}

</body>
</html>